@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=16f3d951-bf76-48cb-bbc3-a509873dc32c");
.spacing-xs {
  margin-bottom: 10px; }

.spacing-s {
  margin-bottom: 20px; }

.spacing-m {
  margin-bottom: 40px; }

.spacing-l {
  margin-bottom: 60px; }
  @media (max-width: 767px) {
    .spacing-l {
      margin-bottom: 40px; } }

.spacing-xl {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .spacing-xl {
      margin-bottom: 60px; } }

/* @font-face {
        font-family: 'Geogrotesque';
        src: url('../fonts/77c5adea-c45f-4bd6-bc83-c171aa401eac.eot?#iefix');
        src: url('../fonts/77c5adea-c45f-4bd6-bc83-c171aa401eac.eot?#iefix') format("eot"),url('../fonts/38914808-31f7-4169-a962-60b41b189056.woff2') format("woff2"),url('../fonts/ae7eda9b-5729-4029-8ea8-1f4b2feb6595.woff') format("woff"),url('../fonts/f5e7d965-e646-4ea9-8b21-bf17e3e5de42.ttf') format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Geogrotesque';
        src: url('../fonts/a3e2c11b-c08f-452d-98b2-82cf697c9968.eot?#iefix');
        src: url('../fonts/a3e2c11b-c08f-452d-98b2-82cf697c9968.eot?#iefix') format("eot"),url('../fonts/133b8ec2-02fd-4afc-8d3d-027d68304c5e.woff2') format("woff2"),url('../fonts/9548811b-a57e-4d9f-abad-aeb27640450d.woff') format("woff"),url('../fonts/1a8cf960-d55c-4ac5-af4e-79ca12bca166.ttf') format("truetype");
        font-weight: 600;
        font-style: normal;
    } */
@font-face {
  font-family: 'Geogrotesque';
  src: url("../fonts/geogrotesque-bold.woff2") format("woff2"), url("../fonts/geogrotesque-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque';
  src: url("../fonts/geogrotesque-bold.woff2") format("woff2"), url("../fonts/geogrotesque-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-display: fallback;
  font-style: normal;
  src: url("../fonts/Roboto-Light.ttf") format("ttf"); }

.heading-xs {
  font-family: Geogrotesque, sans-serif;
  font-size: 22px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: .1rem; }
  .heading-xs.heading--upper {
    text-transform: uppercase; }

.heading-s {
  font-family: Geogrotesque, sans-serif;
  font-size: 28px;
  line-height: 25px;
  font-weight: 700; }
  .heading-s.heading--upper {
    text-transform: uppercase; }

.heading-m {
  font-family: Geogrotesque, sans-serif;
  font-size: 33px;
  line-height: 28px;
  font-weight: 700; }
  .heading-m.heading--upper {
    text-transform: uppercase; }

.heading-l {
  font-family: Geogrotesque, sans-serif;
  font-size: 28px;
  line-height: 25px;
  font-weight: 700; }
  .heading-l.heading--upper {
    text-transform: uppercase; }
  @media (max-width: 1023px) {
    .heading-l {
      font-family: Geogrotesque, sans-serif;
      font-size: 22px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: .1rem; }
      .heading-l.heading--upper {
        text-transform: uppercase; } }

.heading-xl {
  font-family: Geogrotesque, sans-serif;
  font-size: 33px;
  line-height: 28px;
  font-weight: 700; }
  .heading-xl.heading--upper {
    text-transform: uppercase; }
  @media (max-width: 1023px) {
    .heading-xl {
      font-family: Geogrotesque, sans-serif;
      font-size: 28px;
      line-height: 25px;
      font-weight: 700; }
      .heading-xl.heading--upper {
        text-transform: uppercase; } }

.heading-xxl {
  font-family: Geogrotesque, sans-serif;
  font-size: 45px;
  line-height: 40px;
  font-weight: 700; }
  .heading-xxl.heading--upper {
    text-transform: uppercase; }
  @media (max-width: 1023px) {
    .heading-xxl {
      font-family: Geogrotesque, sans-serif;
      font-size: 33px;
      line-height: 28px;
      font-weight: 700; }
      .heading-xxl.heading--upper {
        text-transform: uppercase; } }

.bh-xl, .bh-l, .bh-m {
  font-family: Roboto, sans-serif;
  color: #2b2b2b;
  font-weight: 700;
  line-height: 20px; }

.body-copy, .legal, .link, a {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #2b2b2b;
  line-height: 18px; }

.bh-xl {
  font-size: 22px; }

.bh-l {
  font-size: 18px; }

.bh-m {
  font-size: 15px;
  line-height: 18px; }

.legal {
  font-size: 12px;
  line-height: 14px; }

.link, a {
  color: #006BE0;
  font-weight: 400;
  text-decoration: none; }
  .link:hover, a:hover {
    text-decoration: underline; }

.link .MuiSvgIcon-root {
  width: 0.6em;
  height: 0.6em;
  vertical-align: middle; }

.MuiButton-root.MuiButtonBase-root, .MuiButtonBase-root {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5rem;
  padding: 0.8rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: .07rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0.8rem 3rem; }
  @media (max-width: 767px) {
    .MuiButton-root.MuiButtonBase-root, .MuiButtonBase-root {
      width: 100%; } }
  .MuiButton-root.MuiButtonBase-root .MuiSvgIcon-root, .MuiButtonBase-root .MuiSvgIcon-root {
    vertical-align: top; }
  .MuiButton-root.MuiButtonBase-root.MuiButton-containedPrimary, .MuiButtonBase-root.MuiButton-containedPrimary {
    color: #ffffff;
    background: #006BE0; }
    .MuiButton-root.MuiButtonBase-root.MuiButton-containedPrimary:hover, .MuiButtonBase-root.MuiButton-containedPrimary:hover {
      background: #0160CF; }
  .MuiButton-root.MuiButtonBase-root.MuiButton-outlinedSecondary, .MuiButtonBase-root.MuiButton-outlinedSecondary {
    color: #006BE0;
    background: #ffffff;
    border: 2px solid #006BE0; }
    .MuiButton-root.MuiButtonBase-root.MuiButton-outlinedSecondary:hover, .MuiButtonBase-root.MuiButton-outlinedSecondary:hover {
      border: 3px solid #006BE0;
      background: #ffffff; }
  .MuiButton-root.MuiButtonBase-root.MuiButton-tertiary, .MuiButtonBase-root.MuiButton-tertiary {
    color: #006BE0;
    width: auto;
    background-color: #ffffff;
    border: 2px solid #757575;
    /*@include respond-to(sm) {
            width: auto;
        }

        &:after {
            content: "\00a0";
            background-image: url($icon-base-url + 'inline-arrow-right-red.svg');
            padding-left: 13px;
            background-repeat: no-repeat;
            background-size: 8px;
            background-position-y: 12px;
            background-position-x: 5px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: -16.5px; // prevent :after element from wrapping to new line
        }*/ }
    .MuiButton-root.MuiButtonBase-root.MuiButton-tertiary:hover, .MuiButtonBase-root.MuiButton-tertiary:hover {
      border-width: 3px; }
  .MuiButton-root.MuiButtonBase-root.Mui-disabled.MuiButton-root, .MuiButtonBase-root.Mui-disabled.MuiButton-root {
    color: #757575;
    background-color: #F3F3F3;
    border: 2px solid #757575; }
  .MuiButton-root.MuiButtonBase-root.Mui-scroll-btn, .MuiButtonBase-root.Mui-scroll-btn {
    width: 50px;
    height: 50px;
    min-width: auto;
    border-radius: 50%;
    background-color: #F3F8FF;
    border: 2px solid #006BE0;
    color: #006BE0;
    font-size: 25px; }
    .MuiButton-root.MuiButtonBase-root.Mui-scroll-btn:hover, .MuiButtonBase-root.Mui-scroll-btn:hover {
      border: 3px solid; }
  .MuiButton-root.MuiButtonBase-root.btn--block, .MuiButtonBase-root.btn--block {
    display: block; }

button {
  cursor: pointer; }
  button.btn {
    border: none; }

/*Change text in autofill textbox*/
.MuiFilledInput-input {
  padding: 24px 11px 6px !important; }

.MuiInputBase-root {
  background: #ffffff !important;
  border: 1px solid #757575 !important;
  border-radius: 6px !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #2b2b2b !important; }
  .MuiInputBase-root.Mui-focused {
    border: solid 2px #0071EB !important;
    outline: none !important; }
  .MuiInputBase-root.Mui-disabled {
    background: #F3F3F3 !important; }
  .MuiInputBase-root.Mui-error {
    border: 2px solid #f53c3c !important; }

.MuiMenuItem-root {
  border-bottom: 1px solid #ccc !important; }

.MuiFormLabel-root.Mui-focused {
  color: #757575 !important; }

.MuiFilledInput-underline::before, .MuiFilledInput-underline::after {
  display: none; }

.MuiButtonBase-root.MuiCheckbox-colorPrimary.Mui-checked {
  color: #0071EB; }

.MuiButtonBase-root.MuiRadio-colorPrimary.Mui-checked, .MuiButtonBase-root.MuiRadio-colorSecondary.Mui-checked {
  color: #0071EB; }

.MuiAutocomplete-popper {
  border: 1px solid #757575 !important; }
  .MuiAutocomplete-popper .MuiAutocomplete-option {
    border-bottom: 1px solid #cccccc;
    font-size: 15px; }
  .MuiAutocomplete-popper .MuiAutocomplete-option[data-focus="true"] {
    background: #eaf0fd !important; }

.MuiAutocomplete-inputRoot[class*="MuiFilledInput-root"] {
  padding-top: 0px !important; }

.des-redio, .acc-checkbox-wraper {
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #cccccc; }
  .des-redio.active, .acc-checkbox-wraper.active {
    border: 2px solid #006BE0;
    background: #F3F8FF; }
  .des-redio p, .acc-checkbox-wraper p {
    margin: 0px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding-left: 30px; }

.color-plate {
  min-height: 150px;
  border-radius: 4px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000000;
  border: 1px solid #cccccc; }
  .color-plate.jdp-black, .color-plate.jdp-body-text {
    color: #ffffff; }

.jdp-java {
  background: #16a7cb; }

.jdp-aqua {
  background: #23c0a8; }

.jdp-electricgreen {
  background: #33e776; }

.jdp-red {
  background: #f53c3c; }

.jdp-java-50 {
  background: #87d2e5; }

.jdp-aqua-50 {
  background: #80e2d4; }

.jdp-electricgreen-50 {
  background: #80f4bf; }

.jdp-java-30 {
  background: #b7e4ef; }

.jdp-aqua-30 {
  background: #b3eee5; }

.jdp-electricgreen-30 {
  background: #b3f9d9; }

.jdp-java-10 {
  background: #e7f6fa; }

.jdp-aqua-10 {
  background: #e6f9f7; }

.jdp-electricgreen-10 {
  background: #e6fdf2; }

.jdp-black {
  background: #000000; }

.jdp-body-text {
  background: #2b2b2b; }

.jdp-gray {
  background: #757575; }

.jdp-medgray {
  background: #cccccc; }

.jdp-ltgray {
  background: #e5e5e5; }

.jdp-offwhite {
  background: #f3f3f3; }

.jdp-offwhite {
  background: #f3f3f3; }

.jdp-white {
  background: #ffffff; }

.jdp-radiantblue {
  background: #006BE0; }

.jdp-error {
  background: #f53c3c; }

.MuiTable-root {
  font-family: Roboto, sans-serif;
  color: #2b2b2b !important; }
  .MuiTable-root .MuiTableCell-root {
    border-bottom: 1px solid #cccccc !important; }
  .MuiTable-root .MuiTableRow-root:hover {
    background: #f3f3f3 !important; }
  .MuiTable-root .MuiTableCell-head {
    padding: 16px 5px !important;
    background: #f3f3f3 !important;
    color: #2b2b2b !important;
    font-size: 15px;
    font-weight: 700 !important; }
  .MuiTable-root .MuiTableCell-body {
    color: #2b2b2b !important; }

.MuiSvgIcon-root {
  color: #006BE0; }
  .MuiSvgIcon-root .MuiSvgIcon-fontSizeLarge {
    font-size: 2.25rem !important;
    vertical-align: middle;
    color: #006BE0; }
  .MuiSvgIcon-root.iconSize42 {
    font-size: 42px !important; }
  .MuiSvgIcon-root.iconSize24 {
    font-size: 24px !important; }
  .MuiSvgIcon-root.iconSize20 {
    font-size: 20px !important; }
  .MuiSvgIcon-root.danger {
    color: #f53c3c; }
  .MuiSvgIcon-root.iconSize18 {
    font-size: 18px !important; }
  .MuiSvgIcon-root.iconSize13 {
    font-size: 13px !important; }

.MuiDialogTitle-root {
  margin-bottom: 20px; }
  .MuiDialogTitle-root .dialog-title {
    margin-top: 0px;
    margin-bottom: 15px; }
  .MuiDialogTitle-root .dialog-sub-title {
    margin-top: 0px;
    margin-bottom: 0px; }

.MuiDialogContent-root {
  padding-top: 0px !important; }
  .MuiDialogContent-root .MuiDialogContentText-root p:first-child {
    margin-top: 0px; }

.MuiDialogActions-root {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.close-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }
  .close-dialog svg {
    cursor: pointer; }

.MuiTypography-body1 {
  font-size: 15px !important; }
